#canvas-container {
    position: relative;
}

#canvas-container canvas {
    position: absolute;
}

/* Overlay for the WebGL canvas with inside padding. */
#canvas-container .canvas-overlay {
    position: absolute;
    padding: 2em;
    box-sizing:border-box;
    width: 100%;
    pointer-events: none; /* Disable pointer events for overlay... */
}

.canvas-overlay .pointer-events {
    pointer-events: auto;
}

/* Needed so flex works. */
html,
body {
  height: 100%;
  margin: 0;
}